/* body{
  font-family: 'Inconsolata', monospace;
}
table {

    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#deixarMelhor{
  margin: auto;
  padding: 0.1em;
}

.butt{
  border: none;
  border-radius: 5px;
  background-color: #bbffb2;
} */
